main {
display: flex;
align-items: center;
justify-items: center;
}

details > summary {
  background-color: #72A0C1;
  font-weight: 600;
  list-style: none;
  padding: 0.3rem;
  border-top-right-radius: 0.6rem;
  width: 15rem;
}

.table details {
  padding: 0.255rem;
}

details[open] > summary{
  background-color:#F0F8FF;
  color: black;
}

details > p {
  align-items: center;
  font-size: 0.875rem;
  line-height: 0.75rem;
}

span {
  float: right;
  padding-right: 0.25rem;
}
